<div id="main">
	<h1>Bookshelf <sup>Collection from august 2011</sup></h1>
	<div class="content">
	<ul>
		<% @book_titles.each do |title| %> 
			<li class="paragraph"><%= show_title title%></li>
		<% end %>
	</ul>
	</div>
</div>
<div id="side">
	<div class="content">
		<div class="image">
			<img src="/images/kindle.jpg" alt="Kindle" width="99" />
		</div>
		<h3>I have the Kindle and, wait for it... it is awesome. <a href="http://www.amazon.com/gp/product/B004HFS6Z0/ref=famstripe_kk">If you want it, buy there.</a></h3>
		
		<blockquote class="fact">
			<div class="fact-content">
				<em>Fact.</em>
			I am reading five books per month.
			</div>
		</blockquote>
	</div>
	
</div>