<div id="main">
	<h1>Bookshelf<sup>Collection from august 2011</sup></h1>
	<div class="content">
	<ul>
		<% @book_titles.each do |title| %> 
			<li class="paragraph"><%= show_title title%></li>
		<% end %>
	</ul>
	</div>
</div>
<div id="side">
	<div class="content">
		<div class="image">
			<img src="/images/kindle.jpg" alt="Kindle" width="99" /> <br />
			<a href="http://www.amazon.com/gp/product/B004HFS6Z0/ref=famstripe_kk">If you want to buy, this.</a>
		</div>
		<h3>I have the Kindle and, wait for it... it is awesome.</h3>
		
		<div>
			
		</div>
		<div>
			I really interesting in typography. I can make a book. Electronic book -)
		</div>
		<div>
			I am using Readability and Read later.
		</div>
		<blockquote class="fact">
			<div class="fact-content">
				<em>Fact.</em>
			I reading about five books per month.
			</div>
		</blockquote>
	</div>
	
</div>