<style type="text/css">
	.image-map {
		position: absolute;
		margin-top: -2.5em;
		margin-left: .5em;
	}
</style>
<div class="main">
	<h1>Andrey Bodoev <sup>Front-end developer</sup></h1>
	<div style="padding-bottom: 3em;">
		<img src="/images/shanghai_jump.jpg" alt="Shanghai" />
		<p style="margin-top: 3em;">Shanghai, october 2010 <img src="http://maps.googleapis.com/maps/api/staticmap?center=31.237059,121.505195&zoom=14&size=100x100&sensor=false&markers=size:tiny|color:blue|31.237059,121.505195" class="image-map" alt="Shanghai Jump" /></p>
	</div>
</div>