<div id="main">
	<h1>Travel</h1>
	<div class="content">
		<div class="content-image">
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=Beijing&zoom=3&size=700x400&sensor=false&markers=size:tiny|color:ff0100|Beijing&markers=size:tiny|color:blue|Kathmandu|Lhasa|Xi'an|Lanzhou|Khabarovsk|Manzhouli|Ulan-Bator|Abakan|Krasnoyarsk|Novosibirsk|Irkutsk|Ulan-Ude|Shanghai|Hangzhou|Shengzhou|Ningbo|Zhoushan|Zabaikalsk|Chita|Beidaihe
			" alt="Travel map" />
		</div>
		<h3>Cities</h3>
		<p>	Beijing, Kathmandu, Lhasa, Xi'an, Lanzhou, Khabarovsk, Manzhouli, Ulan-Bator, Abakan, Krasnoyarsk, Novosibirsk, Irkutsk, Ulan-Ude, Shanghai, Hangzhou, Shengzhou, Ningbo, Zhoushan, Zabaikalsk, Chita, Beidaihe
		</p>
	</div>
</div>
<div id="side">
	<div class="content">
		<img src="/images/wozaibeijing.png" alt="I am in Beijing" />
	</div>
</div>
