<div id="main">
	<h1>Use</h1>
	<h2>Working space at 2011</h2>
	<div class="content">
		<div class="content-image">
			<img src="/images/work_in_travel.jpg" alt="Working in travel" />
			<div class="ci-comment">
				In Beijing South Airport cafe. <small>August 28</small>
			</div>
		</div>
		<div class="content-image">
			<img src="/images/work_at_home.jpg" alt="Working at home" />
			<div class="ci-comment">
				In Ulan-ude, Russia. <small>September 1</small>
			</div>
		</div>
	</div>
</div>
<div id="side">
	<div class="content">
		<h3>For development I use</h3>
		<ul>
			<li>Chrome</li>
			<li><a href="http://code.google.com/p/zen-coding/">Zen Coding</a> plugins for HTML and CSS hi-speed coding</li>
			<li><a href="https://github.com/sergeche/xmlview/downloads">XV</a> browser-based XML viewer</li>
			<li>Textmate</li>
			<li>Xcode</li>
			<li>Eclipse IDE</li>
			<li>Parallels and multiple versions of IE installed -)</li>
			<li>Git</li>
			<li>SVN</li>
			<li>and of course, other browsers for testing.</li>
		</ul>
		
	</div>
</div>