/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body { 
	font-family: 'PT Serif', 'Georgia', serif;
	font-size:100%; 
	line-height:1.25; 
	text-align:left; 
}
p {
	font-size: 1em;
}
.paragraph {
	margin-top: 1.375em;
}
a:link{color:#0055CC}
a:hover{color:#CC0000}
a:visited{color:#990099}
a:visited:hover{color:#CC0000}
a:focus{outline:none}

#page {
	margin:0 auto;
	width:80%;
}

footer {
	clear: both;
	margin: 0 auto;
	width: 80%;
	border-top: 1px solid #555;
	padding-top: 0.5em;
	padding-bottom: 1em;
}

/*#page { margin:0 auto; border:1px solid #fff; width:40.5em; min-height:57.2756em; }
#textblock { margin: 2.12501em 9em 9em 4.5em; }*/
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51786em 0; }
.resume ul {
	list-style: square;
	margin-left:2em;
}

#qr {
/*	background-color: #cccc00;
*/}
#qr img {
/*	margin-left: -1.6em;*/
}
#main {
	width: 61.8%;
	float: left;
	padding-bottom: 2em;
}
.main {
	text-align: center;
}
#side {
	margin-left: 61.8%;
}
#side .content {
/*	background-color: #cc0000;
*/	padding-top: 7.5em;
}
.pdf {
	font-style: italic;
}
/* TODO rework */
sup {
	vertical-align: super;
	font-size: small;
}
footer {
	text-align: center;
}
#toc {
}
#toc .content {
}
#toc ul {
	
}
#copyright {
	
}
#copyright small {
	font-size: smaller;
}
#main .content {
	margin-right: 1em;
}
#main .content .content-image {
	padding-bottom: 2em;
}
#main .content .content-image img {
	margin-left: -2em;
}
#main .content .content-image .ci-comment {
	font-style: italic;
}
.fact {
	background-color: #eee;
	color: #000;
}
.fact .fact-content {
	margin: 0 1em;
	padding-bottom: 0.5em;
}
.fact .fact-content em {
	font-style: italic;
}

#main li {
/*	padding-bottom: 0.33em;*/
}

#side .content .image {
	text-align: left;
}

h1 sup {
	position:absolute;
	margin-left:.5em;
}

/* bookshelf */
.completed {
	color: #333;
	font-size: .9em;
}
small {
	font-size: smaller;
}
strong {
	font-weight: bolder;
}