	<div id="main">
		<h1>Andrey Bodoev</h1>
		<a href="mailto:andreybodoev@gmail.com">andreybodoev@gmail.com</a>
		<h2>Overview</h2>
		<ul>
			<li>Front-end developer</li>
			<li>Ruby web development</li>
			<li>Experienced with mobile web app development</li>
			<!-- <li>Interesting fact, actually, I began my career like graphic designer and I still doing this well.</li> -->
		</ul>
		<h2>Personal projects</h2>
		<ul>
			<li>Budget analytic</li>
			<li>Drivers test app for iPhone (for motor vehicle in Beijing, China)<sup>Coming soon</sup></li>
		</ul>
		<h2>Technical experience</h2>
		<ul>
			<li>Objective-C<sup>Just started</sup></li>
			<li>Phonegap and Titanium Appcelerator frameworks</li>
			<li>Ruby, Rails</li>
			<li>Javascript, Jquery, Prototype</li>
			<li>MySQL, PostgreSQL, Sqlite</li>
			<li>Amazon S3</li>
			<li>Heroku</li>
			<li>HTML, HTML5, CSS</li>
			<li>Python, Django</li>
			<li>Google App Engine</li>
			<li>Git, Subversion</li>
		</ul>
		<h2>Recent work</h2>
		<p><a href="http://kitaitur.com">Kitai-tur Ltd.</a>, Web developer and UI designer &mdash; 2011</p>
		<ul>
			<li>
				Rails application development for an reservation system for partners from Russia.
			</li>
			<li>UI design</li>
			<li>Technical support</li>
		</ul>
		<p class="paragraph"><a href="http://www.ferma-tv.ru/">Samsung LED: Farm 2.0 experiment</a>, Front-end developer &mdash; 2010</p>
		<ul>
			<li>
				Working on front-end part. More information about this project you can see <a href="http://www.pajasu.com/promosites/farm2/">here</a><sup>in russian</sup></li>
			<li>In english: http://news.cnet.com/8301-17938_105-10471105-1.html</li>
		</ul>
		<p class="paragraph"><a href="http://www.brandspotter.ru/">BrandSpotter. Social media monitoring tool</a>, Front-end developer and UI designer &mdash; 2010...2011</p>
		<ul>
			<li>Startup by Sterno.ru. This is first version, I was working on front-end and Django development. The second version coming soon, and I worked on it as well, by the way that version based on Rails.</li>
		</ul>
		<p class="paragraph"><a href="http://sterno.co.uk/">Sterno.Ru Ltd.</a>, Front-end developer &mdash; 2008...2011</p>
		<ul>
			<li>Javascript libraries</li>
			<li>Mobile and desktop apps</li>
			<li>
				<a href="http://www.google.com/ig/directory?type=authors&itemstype=gadgets&url=google-gadgets%40sterno.ru">Google Gadgets</a> and <a href="http://widgets.yandex.ru/?text=gadgets.sterno.ru">Yandex Widgets</a>
			</li>
			<li>Sites</li>
			<li>Promosites</li>
		</ul>
		<p class="paragraph">
			ERP system for corporate canteens. Desktop app based on C++Builder &mdash; 2007...2008.
		</p>
		<ul>
			<li>I've worked with team on this project. At the beginning it was just Excel file. I was responsible for data model and UI design.</li>
		</ul>
		<h2>Education</h2>
		<p>
			<a href="http://ev.buaa.edu.cn/">Beihang University</a> in Beijing (China), Chinese language courses, 2008...2009
		</p>
		<p class="paragraph"><a href="http://www.esstu.ru/indexEng.htm">East Siberian Technical State University</a> in Russia, Master of Information Technology, 2002...2008</p>
		<ul>
			<li>Member of the Mountaineering Group</li>
			<li>Athlete (sprinter and swimmer)</li>
		</ul>
		<h2>More background</h2>
		<p>Eye control on <a href="http://www.flickr.com/photos/shonoru/">Flickr</a></p>
	</div>
	<div id="side">
		<div class="content">
			<!-- <h3>Nota bene</h3>
			<div class="pdf">
				In <a href="#">.pdf</a>, please.
			</div> -->
		</div>
	</div>