<div id="page">
	<h1><span style="position: absolute;">‡</span>Andrey Bodoev</h1>
	<a href="mailto:shonoru@gmail.com">shonoru@gmail.com</a>
	<h3>Overview</h3>
	<ul>
		<li>Ruby web development</li>
		<li>Javascript developer</li>
	</ul>
	<h3>Personal projects</h3>
	<ul>
		<li>Budget Analytics</li>
		<li>Simple Book system for Tour companys</li>
	</ul>
	<h3>Technical experience</h3>
	<ul>
		<li>Ruby, Rails</li>
		<li>Javascript, Jquery, Prototype</li>
		<li>MySQL, PostgreSQL, Sqlite</li>
		<li>Amazon S3</li>
		<li>Heroku</li>
		<li>HTML, HTML5, CSS</li>
		<li>Python, Google App Engine</li>
		<li>Git, Subversion</li>
	</ul>
	<h3>Recent work</h3>
	<p><a href="http://kitaitur.com">Kitai-tur Ltd.</a>, Web Developer &mdash; 2011</p>
	<ul>
		<li>Book system</li>
		<li>Search algorithm</li>
		<li>UI design</li>
		<li>Support</li>
	</ul>
	<p><a href="http://sterno.ru/en/">Sterno.Ru Ltd.</a>, Web Developer &mdash; 2008-2011</p>
	<ul>
		<li>Javascript application</li>
		<li>Mobile apps</li>
		<li>Google Gadgets</li>
		<li>Yandex Widgets</li>
		<li>Sites</li>
		<li>Promosites</li>
	</ul>
	<h3>Education</h3>
	<p><a href="http://www.esstu.ru/indexEng.htm">East Siberian Technical State University</a>, Master of Information Technology, 2002-2008</p>
</div>
<script type="text/javascript">
	
</script>