<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Andrey Bodoev — Résumé</title>
	<%= stylesheet_link_tag :all %>
	<%= csrf_meta_tag %>
</head>
<body>
	<!-- I like to drink tea with berries. -->
	<%= yield %>
</body>
</html>